<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <!--底部footer-->
    <footer class="ui inverted vertical segment m-opacity-tiny">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="two wide column ">
                    <h4 class="ui inverted header item m-text-thin m-text-spaced m-opacity-mini" >QQ讨论群</h4>
                    <div class="ui inverted link list">
                        <div class="item">
                            <img th:src="@{/static/blog/images/group-of-qq.jpg}" class="ui rounded image item" style="width: 100px">
                        </div>
                    </div>

                </div>
                <div class="five wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">技术支持</h4>
                    <div class="ui inverted link list">
                        <a class="item m-text-lined">联系客服</a>
                        <a class="item m-text-lined">更新日志</a>
                        <a class="item m-text-lined">建站教程</a>
                        <a class="item m-text-lined">免责声明</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                    <div class="ui inverted link list">
                        <p class="item m-text-lined" href="#" >QQ:3253552293</p>
                        <p class="item m-text-lined" href="#" >email:3253552293@qq.com</p>
                        <a class="item m-text-lined" href="https://blog.csdn.net/weixin_46524501">CSDN博客</a>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">博客简介</h4>
                    <p class="m-text-small m-text-thin m-text-spaced m-opacity-mini" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此博客为小辉的个人博客。本人对对Java有着较大的兴趣，此博客一是为了激励自己学习，二是记录自己的学习历程，以方便及时回顾相关知识。喜欢和伙伴们探讨技术，探讨问题，欢迎扫描最左方二维码加入QQ群一起探讨。</p>
                </div>
            </div>
            <div class="ui divider "></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny m-text-lined">Copyright © 2022 xiaohui </p>
            <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2021169166号</a>
        </div>
    </footer>
</div>

</html>